{% extends 'generic/object.html' %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Subscription</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Service Name</th>
                        <td>{{ object.service_name|default:"—" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Start Date</th>
                        <td>{{ object.start_date|default:"—" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Expiry Date</th>
                        <td>{{ object.expiry_date|default:"—" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contract</th>
                        <td>
                            {% if object.contract %}
                                <a href="{{ object.contract.get_absolute_url }}">{{ object.contract }}</a>
                            {% else %}
                                —
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ object.description|default:"—" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
